*{
    margin: 0;
    padding: 0;
}
 td, th {
    color: #333;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    font-family: "SimSun",Arial, Helvetica, sans-serif;
}
div, td {
    word-wrap: break-word;
    word-break: break-all;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
}
fieldset, img {
    border: 0;
}
a {
    text-decoration: none;
    outline: none;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}




/*************************************************************************************/
#BAIHE {
    width: 1000px;
    margin: 0 auto;
    padding: 25px 0 0 0;
    font: 13px/20px microsoft yahei;
    color: #666;
    background: #fff;
    overflow: hidden;
    zoom: 1;
}
#BAIHE #leftCont {
    float: left;
    width: 160px;
    margin-bottom: 35px;
    overflow: hidden;
    zoom: 1;
}
#leftCont .pic {
    width: 158px;
    padding-top: 20px;
    background: #fff;
    overflow: hidden;
    zoom: 1;
}
#BAIHE .bor {
    margin-bottom: 25px;
    border: 1px solid #ebf0f0;
}
#leftCont .pic dl {
    width: 144px;
    padding: 0 0 0 13px;
    zoom: 1;
}
#leftCont .pic dl dt {
    position: relative;
    height: 160px;
    overflow: hidden;
    zoom: 1;
}
#leftCont a {
    font-size: 14px;
}
#leftCont .pic dl dt img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 0 20px 17px;
    border-radius: 50%;
}
#leftCont .pic dl dt a.icon {
    display: block;
    float: left;
    width: 62px;
    height: 18px;
    margin: 0 5px 0 0;
    font-size: 12px;
    line-height: 17px;
    _line-height: 19px;
    text-align: center;
    color: #f60;
    border: 1px solid #f60;
    border-radius: 8px;
    overflow: hidden;
    zoom: 1;
}
#leftCont .pic dl dd {
    line-height: 20px;
    zoom: 1;
}
#leftCont .pic .orangeT, #leftCont .pic .orangeT a {
    z-index: 10;
    color: #f60;
}
#leftCont .pic .orangeT, #leftCont .pic .blueT {
    position: relative;
    height: 25px;
    zoom: 1;
}
#leftCont .pic .orangeT, #leftCont .pic .orangeT a {
    z-index: 10;
    color: #f60;
    font-size: 14px;
}
.orangeT span {
    font: 13px/24px "Microsoft Yahei";
    color: #f60;
}
#leftCont .pic .blueT, #leftCont .pic .blueT a {
    z-index: 9;
    color: #3c96ff;
}
#leftCont .pic .blueT, #leftCont .pic .blueT a {
    z-index: 9;
    color: #3c96ff;
}
.blueT span {
    font: 13px/24px "Microsoft Yahei";
    color: #3c96ff;
}
#leftCont .icon {
    width: 162px;
    height: 50px;
    margin-top: 14px;
    overflow: hidden;
    zoom: 1;
}
#leftCont .icon a {
    position: relative;
    display: block;
    float: left;
    width: 80px;
    padding-top: 6px;
    height: 44px;
    margin-right: -1px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    color: #666;
}
#leftCont .icon strong {
    color: #f60;
}
#leftCont .icon span {
    position: absolute;
    top: 10px;
    right: 0px;
    display: block;
    width: 1px;
    height: 30px;
    background: #e4e4e4;
    overflow: hidden;
    zoom: 1;
}
/*****************************8推荐服务**********************************************/
#leftCont .service {
    background: #fff;
    overflow: hidden;
    zoom: 1;
}
#leftCont h3 {
    height: 60px;
    padding: 0 10px;
    font-size: 18px;
    color: #333;
    line-height: 58px;
    overflow: hidden;
    zoom: 1;
}
#leftCont .service a.cont {
    position: relative;
    display: block;
    height: 46px;
    font-size: 13px;
    margin-bottom: -1px;
    padding: 10px 0 0 10px;
    color: #bababa;
    cursor: pointer;
    overflow: hidden;
    zoom: 1;
}
#leftCont .service span {
    position: absolute;
    right: 6px;
    top: 9px;
    display: block;
    width: 40px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
    zoom: 1;
}
.orange {
    display: block;
    height: 25px;
    font: 13px/24px "Microsoft Yahei";
    color: #fff;
    text-align: center;
    cursor: pointer;
    background: #ff7f00;
    overflow: hidden;
    zoom: 1;
}
#leftCont .icon_dc {
    background-position: 0 -1144px;
    color: #c70920;
}
#leftCont em {
    height: 20px;
    padding-left: 26px;
    color: #333;
    cursor: pointer;
}
#leftCont em, #leftCont .service p, .myData .picList .icon a, .myData .data .icon, .myData .selPic .del a {
    display: block;
    background: url(http://images6.baihe.com/icon/icon.png) no-repeat;
}
#leftCont .icon_jzzqx {
    background-position: 0 -784px;
}
#leftCont .icon_sj {
    background-position: 0 0;
}
#leftCont .icon_gj {
    background-position: 0 -20px;
}
#leftCont .icon_hn {
    background-position: 0 -100px;
}
#leftCont .icon_vip {
    background-position: 0 -684px;
}
#leftCont .icon_hd {
    background-position: 0 -80px;
}
#leftCont .icon_pm {
    background-position: 0 -140px;
}
/***************************************百合应用*******************************************/
#leftCont .box a {
    position: relative;
    display: block;
    height: 26px;
    padding: 10px 0 0 10px;
    color: #333;
    overflow: hidden;
    zoom: 1;
}
.icon_cupid {
    background-position: 0 -334px;
}
#leftCont .icon_xlpp {
    background-position: 0 -514px;
}
#leftCont .icon_love {
    background-position: 0 -664px;
}
/***********************************百合账户*******************************************/
#leftCont .icon_yhj {
    background-position: 0 -704px;
}
#leftCont .icon_info {
    background-position: 0 -434px;
}
#leftCont .icon_pic {
    background-position: 0 -454px;
}
#leftCont .icon_wdrz {
    background-position: 0 -534px;
}
#leftCont .icon_smrz {
    background-position: 0 -474px;
}
#leftCont .icon_sjrz {
    background-position: 0 -494px;
}
#leftCont .icon_opt {
    background-position: 0 -554px;
}
#leftCont .icon_setUp {
    background-position: 0 -574px;
}



/*************************************************************************************/
.usercp_mid {
    width: 525px;
    height: 1000px;
    float: left;

    overflow: hidden;
}
#w_usercp_match {
    color: #656565;
}
#w_usercp_match {
    padding-bottom: 20px;
}
.usercp_match {
    width: 525px;
    float: left;
    margin: 10px 0 0 0;
}
.usercp_mid .usercp_match .w_userh2 {
    height: 5px;
}
.usercp_match h2 {
    width: 525px;
    float: left;
    height: 29px;
    position: relative;
}
.usercp_match div.content {
    float: left;
    width: 523px;
    padding-bottom: 10px;
}
.changematch {
    width: 503px;
    float: left;
    margin: 10px 0 0 10px;
    display: inline;
}
.changematch .w_tit1 {
    color: #000;
    font-weight: bold;
    margin: 0 0 9px;
    padding: 0;
    font-size: 14px;
}

.changematch ul {
    width: 503px;
    float: none;
    border-bottom: 1px dotted #dde0e6;
    padding-bottom: 5px;
}
.changematch li {
    width: 503px;
    float: left;
    line-height: 1.8;
    list-style: none;
}
.changematch li p {
    width: 50%;
    float: right;
}

.style {
    font-weight: bolder;
    margin: 10px 0;
}
.ws_title {
    font-size: 14px;
}
#frm_match{
    width: 503px;
    height: 489px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.w_table td {
    padding: 5px 0;
}
.md_l {
    vertical-align: top;
    position: relative;
    text-align: left;
    width: 65px;
    padding-left: 20px;
}
.w_table td {
    padding: 5px 0;
}
.m_select128 {
    width: 128px;
    margin-bottom: 10px;
}
.m_select70 {
    width: 70px;
}
.w_degree td {
    padding: 5px 5px 5px 0;
}
.save {
    background: url(../img/condition/bg_btn.gif) no-repeat 0 -123px;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font: 12px/31px arial;
    height: 31px;
    width: 91px;
    margin-top: 20px;
}
.skip {
    background: url(../img/condition/bg_btn.gif) no-repeat 0 -205px;
    border: 0 none;
    color: #666;
    cursor: pointer;
    font: 12px/31px arial;
    height: 31px;
    margin-left: 10px;
    width: 91px;
}
.clearfix::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}